{% load static %}
<!DOCTYPE html>
<html lang="en">
	
<head>
		<title>Event - Landing Page</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>  
		<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="description" content="">

		<!--== CSS Files ==-->
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" media="screen">
		<link href="{% static 'css/style.css' %}" rel="stylesheet" media="screen">
		<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" media="screen">
		<link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet" media="screen">
		<link href="{% static 'css/flexslider.css' %}" rel="stylesheet" media="screen">
		<link href="{% static 'css/fancySelect.css' %}" rel="stylesheet" media="screen">
		<link href="{% static 'css/responsive.css' %}" rel="stylesheet" media="screen">
		<style>
			.scrolling-text {
				overflow: hidden;
				white-space: nowrap;
			}
	
			.scrolling-text p {
				animation: marquee 10s linear infinite;
			}
	
			@keyframes marquee {
				0%   { transform: translateX(100%); }
				100% { transform: translateX(-100%); }
			}
			body {
    /* background-image: url('https://i.pinimg.com/originals/41/f1/8e/41f18e097ce678e7655adb46aa05f90a.jpg'); */
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
}

		</style>
		<!--== Google Fonts ==-->
		<link href= 'http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
		<link href= 'http://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Dosis'  rel='stylesheet' type='text/css'>
	<link href= 'http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

	</head>
	
	<body>
		
		

		<header id="header">
			<div id="menu" class="header-menu fixed">
				<div class="box">
					<div class="row">
						<nav role="navigation" class="col-sm-12">
							<div class="navbar-header">
								<!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse"> -->
									<!-- <span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span> -->
								</button>

								<!--== Logo ==-->
                <div class="card-body">
                  <h4>Welcome, {{ user_first_name }}!</h4>
                </div>
								<span class="navbar-brand logo">
									ELITE_EVENTS
								</span>
               

							</div>
							<div class="navbar-collapse collapse">
 
								<!--== Navigation Menu ==-->
								<ul class="nav navbar-nav">
									<li class="current"><a href="#home">Home</a></li>
									<li><a href="{% url 'about' %}">About Us</a></li>
									<li><a href="{% url 'schedule' %}">Schedule</a></li>
									<li><a href="{% url 'schedule' %}">Blog</a></li>
									<li><a href="{% url 'events' %}">Add Events</a></li>
									<li><a href="{% url 'price' %}">Pricing</a></li>
									<li><a href="{% url 'contact' %}">Contact</a></li>
									<li><a href="{% url 'profile' %}">Profile</a></li>
									<!-- <li><a href="{% url 'logout' %}">logout</a></li> -->
									
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>

			<!--== Site Description ==-->
			<div class="header-cta">
				<div class="container">
					<div class="row">
						<div class="entry-content">
				            <p><span class="start-text"><b>FROM THE APRIL 7, 2024</b></span></p>
				            <h4 class="entry-title"><a href="{% static '#'%}">Organizing World class events</a></h4>
				            <!-- <h5><span><b>Schrodinger confirms that Germany international ...</b></span></h5> -->
							<div class="content">
						<div class="container box">
							<div class="scrolling-text">
								<p>Countdown to an events you won't want to miss ...</p>
							</div>
						</div>
					</div>
					    </div>
					</div>
					
					
				</div>
			</div>

			<div class="header-bg">
				<div id="preloader">
					<div class="preloader"></div>
				</div>
				<div class="main-slider" id="main-slider">

					== Main Slider ==
					<ul class="slides">
						<li><img src="{% static 'images/demo/bg-slide-01.jpg' %}" alt="Slide Image"/></li>
						<li><img src="{% static 'images/demo/bg-slide-02.jpg' %}" alt="Slide Image 2"/></li>
					</ul>

				</div>
			</div>
		</header>
		{% for message in messages%}
		<p class="text-sucess font-weight-bold">{{message}}</p>
		{% endfor %}
		<div class="content">
			<div class="container box">


			


				<!--===============================-->
				<!--== Blog =============-->
				<!--===============================-->
			<section id="blog" class="row">
				<div class="title-start col-md-4 col-md-offset-4"><h2>Blog</h2>	
					<p class="sub-text text-center" style="text-decoration: underline; color: black;">
					Awesome news and articles from us</p>	
				</div>
					<div class="top">
					</div>
					{%for item in items %}
					<div class="content">
					  
					  <div class="blog col-md-4">
					    <h2 class="blog-head">{{item.Event_Name}}</h2>
					    <h3>
							Posted by <a href="#">ELITE_EVENTS</a><span class="date-line"> <span id="post-date"></span></span>
					    </h3>
					    <img class="blog-image" src="{{item.Event_Image.url}}" width="100%" height="250" alt="Blog Image 2"/>
					    
					    <p class="firstpara"><span class="firstcharacter">{{item.Event_Description}}</span></p> 
						<div class="btn_main">
							<div class="buy_bt">
								
						
							<button type="button" class="bg-primary text-white text-xl fw-bold" onclick="editImage()">
								<a href="{% url 'edit' item.id %}">edit</a></button>
							<button type="button" class="btn btn-danger red" onclick="deleteImage()">
								<a href="{% url 'delete' item.id %}">Delete</a></button>			
							</div>
					    <h3 class="price_text">Price ${{item.Event_Cost}}</h3>
					     
					  </div>
					
					  </div>
					  {% endfor %}
					</div>
					<script>
						window.onload = function() {
							var currentDate = new Date();
							var day = currentDate.getDate();
							var month = currentDate.getMonth() + 1;
							var year = currentDate.getFullYear();
							var formattedDate = day + '/' + month + '/' + year;
							document.getElementById('post-date').innerHTML = formattedDate;
						};
						function toggleOverview(element) {
        var overview = element.getElementsByClassName("overview")[0];
        if (overview.style.display === "none" || overview.style.display === "") {
            overview.style.display = "block";
        } else {
            overview.style.display = "none";
        }
    }
					</script>
					
				</section>
				
 
		</script>
	</body>
</html>